.container {
  width: 100%;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;

  @include scr__mob {
    padding: 0 70px;
  }

  @include scr__tab {
    padding: 0 130px;
  }

  @include scr__pc-sm {
    padding: 0 200px;
  }
}


a {
  color: $light;
  text-transform: none;
}
