$scr__pc-sm:      1476px;
$scr__tab:        1215px;
$scr__tab-sm:     888px;
$scr__mob:        730px;
$scr__mob-sm:     559px;


$light: #faf6f2;
$light2: #d7cec5;
$light3: #f1ede9;
$green: #27ae60;
$dark: #37474F;
