.admin-btn {
  display: inline-block;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  color: $light3;
  background-color: $green;
}

.admin-sign-in {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.admin-input {
  border: 1px solid $green;
  margin-bottom: 16px;
}
